* {
    --border: #888;
    --border-transparent: rgba(136, 136, 136, 0.5);
    --primary: white;
    --background: #333;
    --text: white;
    --text-dark: black;
    --header-height: 50px;

    --cal-bg: white;
    --cal-bg-alt: #f4f7fa;
    --cal-border: #c0c0c0;
    --cal-fg: #000;

    --cal-blue: #283587;
    --cal-purple: #5c2483;
    --cal-grey: #777777;
    --cal-pink: #ee7bae;
    --cal-green: #008800;
    --cal-orange: #f9b000;
    --cal-red: #ff0000;
    --cal-teal: #08b0a0;
    --cal-lblue: #0080c9;
    --cal-black: #000000;
}

body {
    background: var(--cal-bg-alt);
    margin: 0;
}

.footer {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
    justify-content: space-evenly;
}

span {
    font-family: 'Raleway', 'Arial', sans-serif;
    color: var(--text);
    /* width: 100%; */
    /* margin-right: 20px; */
    font-size: 14px;
}

p {
    font-family: 'Raleway', 'Arial', sans-serif;
    color: var(--text);
    text-decoration: underline;
    font-weight: bold;
}

pre {
    font-family: 'Roboto Mono', monospace;
    color: var(--text);
}

.vis-network {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: 1px solid var(--border);
    box-shadow: rgba(0, 0, 0, 0.5) 0px -2px 10px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

button {
    margin: 2px;
    font-family: 'Raleway', 'Arial', sans-serif;
    background: transparent;
    border-color: var(--border);
    color: var(--primary);
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-style: none;
    border-right-style: none;
    position: relative;
    transition: color 0.2s ease;
    vertical-align: bottom;
    text-align: center;
    padding: 5px 10px 5px 10px;
    top: 2px;
    cursor: pointer;
    z-index: 0;
}

button:hover, select:hover {
    color: var(--text-dark);
}

select:hover {
    background-color: var(--primary);
    transition: 0.2s all;
}

button::before, select::before {
    background-color: var(--primary);
    width: 0;
    height: 100%;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    transition: 0.2s all;
    z-index: -1;
}

button:hover::before, select:hover::before {
    width: 100%;
    left: 0;
    right: 0;
}

.row {
    background-color: var(--background-transparent);
    border-radius: 10px;
    display: -webkit-flex;
    display: flex;
    box-shadow: var(--shadow);
    max-height: calc(100vh - var(--header-height)*2);
}

.column {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    /* padding: 10px; */
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -2px 10px;
    margin: 5px;
    height: 800px;
    overflow: hidden;
}

body > svg {
    display: none;
}

.container {
    position: relative;
}

.container > span {
    position: absolute;
    font-weight: bold;
    bottom: 5px;
    left: 5px;
    text-align: left;
}

.container#card-container {
    overflow-y: scroll;
    /* height: 100%; */
    margin-top: 10px;
    border-top: 1px solid var(--border-transparent);
    border-bottom: 1px solid var(--border-transparent)
}

.card {
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -2px 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    margin: 15px;
    transition: 0.1s transform, 0.2s background-color;
    overflow: hidden;
    background-color: lightgreen;
}


    
.card img {
    /* width: 32px; */
    /* height: 32px; */
    min-width: 10%;
    flex-basis: 10%;
    align-self: center;
    padding: 2.5%;
    /* background: black; */
    /* box-shadow: var(--shadow); */
}

.card h3 {
    flex-basis: 90%;
    text-decoration: underline;
    text-align: left;
    margin: 0;
    padding: 15px 10px;
    align-self: center;
    /* width: 80%; */
    /* height: 40px; */
    /* line-height: 35px; */
    /* background: black; */
    display: flex;
    transition: 0.2s color;
    font-size: 1.17em;
}

span.text-button {
    text-decoration: none;
    color: inherit;
    /* font-size: 48px; */
    cursor: pointer;
    /* flex-basis: 10%; */
    padding: 10px 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 25px;
    /* line-height: 35px; */
    width: 25px;
    height: 25px;
    border: 1px solid var(--cal-border);
    border-radius: 50%;
    transition: 0.2s ease background-color, 0.2s ease color;
}

span.text-button:hover {
    background-color: rgba(199, 121, 206, 0.5);
    color: var(--cal-blue);
}

.month-selector span.text-button {
    color: white;
}


.card div {
    flex-basis: 100%;
}

.card .card-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .card-foot {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background: black;
    /* flex-basis: 100%; */
    text-align: left;
}

.prop-grid {
    display: grid;
    grid-template-columns: calc(33% - 5px) calc(33% - 5px) calc(33% - 5px);
    grid-template-rows: auto auto;
    gap: 5px;
    margin: 5px;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.prop-grid:last-of-type {
    border-bottom: none;
}

.prop-head {
    font-weight: bold;
}

.prop {
    width: calc(100% - 20px);
    height: 20px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: black;
    border: 1px solid white;
    font-style: italic;
    color: white;
    font-size: 16px;
}

.prop > label:first-of-type {
    font-weight: bold;
}

.prop#cost-estimate, .prop#time-estimate {
    font-weight: bold;
    color: lime;
}

select.prop {
    height: 32px;
    width: calc(100% + 2px);
}

/* .card input {
    color: white;
    border: 1px solid white;
    width: 50px;
    padding: 5px;
    margin: 5px;
    background-color: black;
} */

input.prop:read-only {
    color: darkgrey;
    border: none;
}

.card button {
    margin: 10px;
    margin-top: 5px;
    color: white;
}

.card .head button {
    text-decoration: none;
    color: inherit;
}

.card button.link:hover {
    text-decoration: none!important;
    color: black;
}

.card button::before {
    background-color: white;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 32px;
    text-decoration: underline;
    height: var(--header-height);
    margin: 0;
    color: var(--text);
}

.dirTable {
    border: 1px solid var(--border);
}

.dirTable h5 {
    color: var(--text);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid var(--border);
    text-decoration: underline;
}

.dirTable span {
    width: 100%;
    display: block;
    font-size: 12px;
    padding: 5px;
    color: var(--text);
}

.dirTable span:hover {
    text-decoration: underline;
}

span.fakenode {
    background-color: lightgrey;
    border: white;
    color: black;
    font-size: 10px;
    width: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid;
    box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 10px;
}

span.nodeArrow {
    font-size: 15px;
    width: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0;
    font-weight: bold;
}

div#path-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid var(--border);
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
}

ul {
    color: white;
    font-family: 'Raleway', 'Arial', sans-serif;
    text-align: left;
}

.page-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 20px; */
    width: 1612px;
    height: 2112px;
    background-color: var(--cal-bg);
    border: 1px  solid var(--cal-border);
    border-radius: 8px;
}

.page-area.borderless {
    border: none;
    border-radius: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px 230px 230px;
    grid-template-rows: 60px auto auto auto auto auto auto;
    justify-content: center;
    /* border-top: 1px solid var(--cal-fg); */
    /* border: 1px solid red; */
}

.grid-item {
    background-color: var(--cal-bg-alt);
    border: 1px solid var(--cal-border);
    border-radius: 8px;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    font-family: 'Manrope', sans-serif;
    padding: 5px 5px 15px 5px;
    cursor: pointer;
    min-height: 220px;
    transition: 0.2s ease all;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.grid-item:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 6px rgba(199, 121, 206, 0.5);
}

.grid-item.selected {
    border-color: #c779ce;
    transform: scale(1.02);
    box-shadow: 0 3px 6px rgba(199, 121, 206, 0.5);
    border-width: 2px;
}

.grid-item.weekday {
    font-weight: bold;
    /* height: min-content; */
    font-size: 28px;
    text-transform: uppercase;
    cursor: default;
    min-height: unset;
    box-shadow: none;
    background-color: transparent;
    border: none;
    color: var(--cal-grey);
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.grid-item.weekday:hover {
    box-shadow: none;
    transform: initial;
}

.grid-item > span.num {
    font-weight: bold;
    color: var(--cal-fg);
    font-family: 'Manrope', sans-serif;
    text-align: right;
    align-self: flex-end;
    font-size: 24px;
    pointer-events: none;
}

.event {
    text-align: left;
    /* border: 1px solid var(--cal-border); */
    border-left: 6px solid red;
    /* border-radius: 4px; */
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    position: relative;
    margin-bottom: 5px;
    justify-content: space-between;
}

.event.hideBorder {
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
}

.event > .group > span {
    color: var(--cal-fg);
    /* width: -webkit-fill-available; */
    cursor: text;
    font-family: 'Manrope', sans-serif;
}

.event > .group {
    display: flex;
    flex-direction: column;
    /* width: -webkit-fill-available; */
}
.event span.top {
    font-weight: bold;
    font-size: 22px;
}
.event span.bottom {
    font-size: 20px;
}

.event .text-button {
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 12.5px);
    font-size: 27px;
    color: var(--cal-fg);
    visibility: hidden;
}

.event:hover .text-button {
    visibility: visible;
}

input#color-picker {
    position: absolute;
    visibility: hidden;
}

div.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}


span.title {
    font-family: 'Manrope', sans-serif;
    font-size: 70px;
    font-weight: 600;
    color: #283587;
    /* text-transform: uppercase; */
    text-align: center;
}

div.month-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-top: -40px; */
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background-color: var(--cal-purple);
}

span.month-year {
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 700;
    /* font-variant: small-caps; */
    text-align: center;
    flex-basis: 30%;
}

img#logo {
    margin: 0 30px;
    height: 150px;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    display: flex;
    z-index: 10000002;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: 0.2s linear width;
    padding-top: 10px;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    flex-direction: column;    
    align-items: center;
    border-left: 2px solid var(--cal-border);
}

.sidenav.shown {
    width: 250px;
}

.sidenav a {
    margin-top: 2px;
    margin-bottom: 2px;
    color: var(--cal-fg);
    padding: 16px;
    text-decoration: none;
    border-radius: 0;
    border: 2px solid transparent;
    display: block;
    width: 200px;
    cursor: pointer;
    transition: 0.15s ease;
    /* text-shadow: 2px 2px 0 black; */
}
.sidenav a:hover,
.sidenav a.active {
    color: var(--text-alt);
    background-color: rgba(199, 121, 206, 0.5);
    border-color: var(--cal-border);
    border-radius: 50px;
    text-shadow: none;
}
.sidenav a:hover > i,
.sidenav a.active > i {
    color: var(--text-alt);
}
.sidenav i {
    font-size: 20px;
    width: 24px;
    padding-right: 15px;
    text-align: center;
    color: var(--cal-blue);
}
.sidenav > hr {
    width: 100%;
    border-style: solid;
    border-color: var(--cal-border);
}
.sidenav > .section-title {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0 5px 0;
    width: 100%;
    text-align: center;
    color: var(--cal-fg);
    text-wrap: nowrap;
}

.menu-button {
    color: var(--cal-blue);
    position: fixed;
    width: 64px;
    height: 64px;
    text-align: center;
    top: 14px;
    right: 10px;
    transition: 0.25s ease;
    cursor: pointer;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    background-color: var(--cal-bg-alt);
    /* -webkit-text-stroke: var(--important) 2px; */
    border: 2px solid var(--cal-border);
    border-radius: 50%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.menu-button > i {
    /* width: 40px; */
    /* height: 40px; */
    /* overflow: visible; */
    /* filter: drop-shadow(2px 2px 0 black); */
}
.menu-button > svg > path {
    fill: var(--text);
    /* stroke: black; */
    stroke-width: 5%;
}

.menu-button::before {
    background: rgba(199, 121, 206, 0.5);
    border-radius: 50%;
    height: 0;
    width: 0;
    content: "";
    position: absolute;
    z-index: -1;
    transition: 0.15s ease width, 0.15s ease height, 0.4s ease transform;
}
.menu-button:hover::before {
    height: 100%;
    width: 100%;
    transform: rotate(360deg);
}

.color-picker-popup {
    position: absolute;
    top: 10px;
    right: 80px;
    z-index: 10000001;
    background-color: var(--cal-bg-alt);
    border: 1px solid var(--cal-border);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 5px;
    width: 208px;
    height: auto;
    /* display: none; */
    visibility: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.color-swatch {
    width: 32px;
    height: 32px;
    border: 1px solid var(--border);
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease box-shadow;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.color-swatch:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 6px rgba(199, 121, 206, 0.5);
}

.color-swatch#blue { background-color: var(--cal-blue); }
.color-swatch#red { background-color: var(--cal-red); }
.color-swatch#green { background-color: var(--cal-green); }
.color-swatch#yellow { background-color: var(--cal-yellow); } 
.color-swatch#orange { background-color: var(--cal-orange); }
.color-swatch#purple { background-color: var(--cal-purple); }
.color-swatch#pink { background-color: var(--cal-pink); }
.color-swatch#teal { background-color: var(--cal-teal); }
.color-swatch#grey { background-color: var(--cal-grey); }
.color-swatch#black { background-color: var(--cal-black); }
.color-swatch#lblue { background-color: var(--cal-lblue); }

.event.blue { border-left-color: var(--cal-blue); }
.event.red { border-left-color: var(--cal-red); }
.event.green { border-left-color: var(--cal-green); }
.event.yellow { border-left-color: var(--cal-yellow); }
.event.orange { border-left-color: var(--cal-orange); }
.event.purple { border-left-color: var(--cal-purple); }
.event.pink { border-left-color: var(--cal-pink); }
.event.teal { border-left-color: var(--cal-teal); }
.event.grey { border-left-color: var(--cal-grey); }
.event.black { border-left-color: var(--cal-black); }
.event.lblue { border-left-color: var(--cal-lblue); }

body > i {
    display: none!important;
}
